################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.ipch
*.suo
*.db
*.tlog
*.obj
*.exe
*.ipdb
/osem_sest_smerovky/Release/osem_sest_smerovky.iobj
*.log
*.pdb
*.recipe
/VS/.vs/osem_sest_smerovky/v16
*~
/VS/osem/x64
/VS/sest/x64
